<form [formGroup]="form">

  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
    formArrayName="timeslot"
  >
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; let i = index; columns: displayedColumns"
      (click)="selection.toggle(row)"
      [formGroupName]="i"
    ></tr>

    <!-- Name Column -->
    <ng-container matColumnDef="day">
      <th mat-header-cell *matHeaderCellDef>Día</th>
      <td mat-cell *matCellDef="let element; let i = index">
        {{
          element.day === 1
            ? 'Lunes'
            : element.day === 2
            ? 'Martes'
            : element.day === 3
            ? 'Miércoles'
            : element.day === 4
            ? 'Jueves'
            : element.day === 5
            ? 'Viernes'
            : element.day === 6
            ? 'Sábado'
            : 'Domingo'
        }}
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="timeStart">
      <th mat-header-cell *matHeaderCellDef>Horario Entrada</th>
      <td mat-cell *matCellDef="let element; let i = index" [formGroupName]="i">
        <div style="display: flex;">
          <!-- <ngx-timepicker-field
        placeholder="Inicio"
        [format]="24"
        formControlName="timeStart"
        (timeChanged)="timeChanged($event, element, 's')"
      ></ngx-timepicker-field> -->
          <mat-form-field>
            <mat-label>Hora Entrada</mat-label>
            <input
              matInput
              aria-label="default time"
              [ngxTimepicker]="defaultValue"
              [format]="24"
              [formControl]="timeslot.controls[i].get('timeStart')"
            />
            <ngx-material-timepicker #defaultValue></ngx-material-timepicker>
          </mat-form-field>

          <!-- <mat-checkbox
        *ngIf="element.id === 2"
        (click)="setDefaultTime($event)"
      ></mat-checkbox> -->
        </div>
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="timeEnd">
      <th mat-header-cell *matHeaderCellDef>Horario Salida</th>
      <td mat-cell *matCellDef="let element; let i = index" [formGroupName]="i">
        <mat-form-field>
          <mat-label>Hora Salida</mat-label>
          <input
            matInput
            aria-label="default time"
            [ngxTimepicker]="defaultValue"
            [format]="24"
            [formControl]="timeslot.controls[i].get('timeEnd')"
          />
          <ngx-material-timepicker #defaultValue></ngx-material-timepicker>
        </mat-form-field>
      </td>
    </ng-container>
  </table>
</form>
